@page "/document/{id}"
@inject HttpClient Http
@using Common.Models
@using System.Text.Json

<h3>Document</h3>


@if (document == null)
{
    <p><em>Loading...</em></p>
}
else if (errorCode == "OK")
{
    <table>
        <tr>
            <td>Uploaded By</td>
            <td>@document.UploadedBy</td>
        </tr>
        <tr>
            <td>Uploaded Timestamp</td>
            <td>@document.UploadTimestamp</td>
        </tr>
        <tr>
            <td>Filesize (bytes)</td>
            <td>@document.FileSize</td>
        </tr>
        <tr>
            <td>Vendor Name</td>
            <td>@document.VendorName</td>
        </tr>
        <tr>
            <td>Invoice Date</td>
            <td>@document.InvoiceDate</td>
        </tr>
        <tr>
            <td>Total Amount</td>
            <td>@document.TotalAmount</td>
        </tr>
        <tr>
            <td>Total Amount Due</td>
            <td>@document.TotalAmountDue</td>
        </tr>
        <tr>
            <td>Currency</td>
            <td>@document.Currency</td>
        </tr>
        <tr>
            <td>Tax Amount</td>
            <td>@document.TaxAmount</td>
        </tr>
        <tr>
            <td>Processing Status</td>
            <td>@document.ProcessingStatus</td>
        </tr>
    </table>
}
else 
{
   <p>There was an error: @errorCode </p>
}
<a href="/documents">Back</a>

@code {
    [Parameter]
    public string Id { get; set; }

    private DocumentData document;

    private string errorCode;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            //documents = await Http.GetFromJsonAsync<DocumentId[]>("sample-data/listOfDocuments.json");
            var response = await Http.GetAsync(Constants.API_URL + "document/" + Id);
            errorCode = response.StatusCode.ToString();
            if (response.IsSuccessStatusCode)
            {
                string jsonContent = await response.Content.ReadAsStringAsync();
                document = JsonSerializer.Deserialize<DocumentData>(jsonContent, Constants.CamelCaseSerializeOptions);
            }
        }
        catch (Exception)
        {
            document = new DocumentData();
        }
    }

}

