@page "/stats"
@inject HttpClient Http
@using Common.Models
@using System.Text.Json

<h1>Document Stats</h1>

<p>Total number of files, their total size, total amount and amount due uploaded by each user.</p>


@if (stats == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Uploaded By</th>
                <th>File Count</th>
                <th>Total File Size</th>
                <th>Total Amount</th>
                <th>Total Amount Due</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var stat in stats)
            {
            <tr>
                <td>@stat.UploadedBy</td>
                <td>@stat.FileCount</td>
                <td>@stat.TotalFileSize</td>
                <td>@stat.TotalAmount</td>
                <td>@stat.TotalAmountDue</td>
            </tr>
            }
        </tbody>
    </table>
}

@code {
    private DocumentStats[] stats;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            //documents = await Http.GetFromJsonAsync<DocumentId[]>("sample-data/listOfDocuments.json");
            var response = await Http.GetAsync(Constants.API_URL + "stats");
            if (response.IsSuccessStatusCode)
            {
                string jsonContent = await response.Content.ReadAsStringAsync();
                stats = JsonSerializer.Deserialize<DocumentStats[]>(jsonContent, Constants.CamelCaseSerializeOptions);
            }
            else
            {
                stats = new DocumentStats[0];
            }
        }
        catch (Exception)
        {
            stats = new DocumentStats[0];
        }

    }
}
